<h1>Всички ястия: <%=stats.totalFoods %></h1>
<h1>Дневни ястия: <%=stats.availableFoods %></h1>
<h1>Всички Резервации: <%=stats.totalReservations %></h1>
<h1>Чакащи Резервации: <%=stats.waitingReservations %></h1>
<h1>Потвърдени Резервации: <%=stats.approvedReservations %></h1>
