<section class="reservations-navbar">
  <a href="/admin/reservations">Всички</a>
  <a href="/admin/reservations/waiting">Чакащи</a>
  <a href="/admin/reservations/approved">Потвърдени</a>
  <a href="/admin/reservations/rejected">Отхвърлени</a>
</section>
<section class="reservations">
  <% if (!reservations || reservations.length === 0) { %>
  <h3>Няма налични направени заявки</h3>
  <% } else { %> <% reservations.forEach(reservation => { %>
  <article class="reservation" data-approved="<%= reservation.approved %>">
    <p>Имейл: <%= reservation.userEmail %></p>
    <p>Телефон: <%= reservation.userPhoneNumber %></p>
    <p>Дата: <%= reservation.reservationDate %></p>
    <p>Час: <%= reservation.reservationTime %></p>
    <select
      onchange="onStateChange(event, '<%=reservation.id%>')"
      id="rapproved-<%=reservation.id%>"
    >
      <option value="approved">Потвърдена</option>
      <option value="rejected">Отхвърлена</option>
      <option value="waiting">Чакаща</option>
    </select>
    <button ondblclick="window.location.href='/admin/reservations/finish?id=<%=reservation.id%>'">
      Finish
    </button>
  </article>
  <% }); %> <% } %>
</section>

<script>
  const ws = new WebSocket("ws://localhost:8080");
  const tempClientID =
    "client-" + Date.now() + "-" + Math.random().toString(36).substring(2, 8);

  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.reservation').forEach(reservationEl => {
      const approvedValue = reservationEl.getAttribute('data-approved');
      const select = reservationEl.querySelector('select');
      
      if (approvedValue === 'approved') {
        select.value = 'approved';
      } else if (approvedValue === 'rejected') {
        select.value = 'rejected';
      } else {
        select.value = 'waiting';
      }
    });
  });

  ws.onopen = () => {
    console.log("Connected to server!");
  };

  ws.onmessage = (event) => {
    const data = JSON.parse(event.data);
    console.log(data);

    if (data.clientID === tempClientID) {
      return;
    }

    switch (data.type) {
      case "reservation-state-change":
        document.getElementById(`rapproved-${data.id}`).value = data.approved;
        break;
      default:
        break;
    }
  };

  ws.onerror = (error) => {
    console.error("WebSocket error:", error);
  };

  function onStateChange(event, reservationID) {
    let lastQuantityChange = {
      type: "reservation-state-change",
      id: reservationID,
      approved: event.target.value,
      clientID: tempClientID,
    };

    ws.send(JSON.stringify(lastQuantityChange));
  }
</script>
